@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}
body{
    color: azure;
    width: 100%;
    height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    /* padding-top: -30; */
}

.botones{
    padding: 9px;
    border-radius: 80px;
    background-color: transparent;
    border: none;
}

.botones a{
    background-color: #7800c9;
    padding: 9px;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
    transition: background-color 0.3s, color 0.3s;
}

.botones a:hover {
    background-color: #fbff00; /* Color al pasar el mouse */
    color: black !important; /* Cambia el color del texto a blanco al pasar el mouse */
}

.greetings{
    font-size: 7rem;
    font-weight: 900;
}
.greetings > span{
    animation: glow 2.5s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: #fff;
        text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
    }
    10%, 90%{
        color: #111;
        text-shadow: none;
    }
}
.greetings > span:nth-child(2){
    animation-delay: .2s;
}
.greetings > span:nth-child(3){
    animation-delay: .4s;
}
.greetings > span:nth-child(4){
    animation-delay: .6s;
}
.greetings > span:nth-child(5){
    animation-delay: .8s;
}
.greetings > span:nth-child(6){
    animation-delay: 1s;
}
.greetings > span:nth-child(7){
    animation-delay: 1.2s;
}
.greetings > span:nth-child(8){
    animation-delay: 1.4s;
}
.greetings > span:nth-child(9){
    animation-delay: 1.6s;
}

.description{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.button a{
    text-decoration: none;
    font-size: 1rem;
    color: #111;
}

.credits {
    position: absolute; /* O puedes usar fixed para mantenerlo en la misma posición al desplazarse */
    bottom: 10px; /* Distancia desde la parte inferior */
    left: 0; /* Alinear a la izquierda */
    right: 0; /* Alinear a la derecha para que se extienda */
    text-align: center; /* Centrar el texto */
    font-family: "Arial Narrow", Arial, sans-serif;
    color: yellow; /* Color del texto */
    font-weight: bold; /* Hacer el texto negrita */
    opacity: 0.7; /* Opacidad para un efecto más suave */
    padding: 10px 0; /* Espaciado vertical */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente, opcional */
    text-shadow: 0 0 50px white, /* Borde blanco */
                 0 0 100px white,
                 0 0 150px white; /* Aumenta el tamaño del borde según sea necesario */
}

@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 3rem;
        font-weight: 800;
        text-align: center;
    }
    .description{
        font-size: 1rem;
    }
    
    .button a{
        font-size: 1rem;
    }
    .tamañofinal{
        font-size: 0.5;
    }

}